 /* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */
    :root{  
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family: 'Montserrat', sans-serif; */
font-family: 'Outfit', sans-serif;
    }
    body{
        background-color: var(--Light-gray);
    }
    .container{ 
      text-align: center;
    }
    .card{
        height: 26rem;
        width: 16rem;
        border-radius: 10px;
        box-shadow: 5px 5px 5px hsl(217, 3%, 46%) ;
        background-color: var(--White);
        margin-top: 5rem;
        margin-left: 2rem;
        position: relative;
    }
    .card img{   
        height: 15rem;
        width: 15rem;
        border-radius: 5px;
        position: absolute;
        top: 7px;
        left: 7px;
     }
    .card h2{
        position: absolute;
        top: 16rem;
        font-weight: 700;
        font-size: 20px;

    }
    .card p{
        position: absolute;
        top: 20rem;
        font-size:15px ;
        font-weight: 400;
        color: var(--Grayish-blue);
    }
    /* now here done  */
    @media (max-width:1440px) {
        .card {
            height: 26rem;
            width: 16rem;
            border-radius: 10px;
            background-color: var(--White);
            margin-top: 10rem;
            margin-left: 6rem;
            position: relative;
        }
        
    }
    @media (max-width:1024px) {
        .card {
            height: 26rem;
            width: 16rem;
            border-radius: 10px;
            background-color: var(--White);
            margin-top: 5rem;
            margin-left: 2rem;
            position: relative;
        }
        
    }
    @media (max-width:768px) {
        .card {
            height: 26rem;
            width: 16rem;
            border-radius: 10px;
            background-color: var(--White);
            margin-top: 5rem;
            margin-left: -1rem;
            position: relative;
        }
        
    }
    @media (max-width:425px) {
        .card {
            height: 26rem;
            width: 16rem;
            border-radius: 10px;
            background-color: var(--White);
            margin-top: 5rem;
            margin-left: -4rem;
            position: relative;
        }
        
    }
    @media (max-width:375px) {
        .card {
            height: 26rem;
            width: 16rem;
            border-radius: 10px;
            background-color: var(--White);
            margin-top: 5rem;
            margin-left: -4rem;
            position: relative;
        }
        
    }
    @media (max-width:320px) {
        .card {
            height: 26rem;
            width: 16rem;
            border-radius: 10px;
            background-color: var(--White);
            margin-top: 5rem;
            margin-left: -5rem;
            position: relative;
        }
        
    }